/* .wishlist{
    
} */

.wishlist_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--block-bottom-space);
}

#wishlist__heading{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 8px 0px;
}

#wishlist_btn_clear{
    background: var(--primary-color-dark);
    padding: 8px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
#wishlist_btn_clear:hover{
    background: #dc3545;
    outline: 2px solid #db2739;
}


.wishlist__movie_container{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-height: 11rem;
    position: relative;
    margin-bottom: 20px;
}

#wishlist__movie_img{
    width: 11rem;
    height: 11rem;
    cursor: pointer;
}

.wishlist_movie_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0px;
}

#wishlist__movie_title{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    padding: 8px 0px;
}

#wishlist__movie_title:hover{
    text-decoration: underline;
}

.wishlist_movie_btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#wishlist__movie_rem_btn{
    height: fit-content;
    margin-top: 15px;
}

/* Heart Icon styling */
.wishlist_heart_icon {
    position: absolute;
    top: 5rem;
    right: 30px;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.no_record_heading{
    margin: auto;
    margin-top: 150px;
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 20px;
    text-align: center;
    color: #dc3545;
    width: fit-content;
    outline: 2px solid #db2739;
}