#cast_gallery__heading{
        font-size: 2.5rem;
        font-weight: 500;
        padding: 8px 0px;
        display: block;
}

.cast_gallery__actor{
    margin-bottom: 40px;
    display: flex;
    border: 2px solid rgb(49, 49, 49);
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cast_gallery__actor_img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 20px;
}

.cast_gallery__actor .actor_name {
    font-size: 1.2rem;
    font-weight: 500;
    
}

.cast_gallery__actor .actor_character {
    font-size: 1.2rem;
    font-weight: 300;
    
}