.cast_gallery__actor{
    margin-bottom: 40px;
    display: flex;
    border: 2px solid #0b220d;
    padding: 15px 10px;
    border-radius: 10px;
}

.cast_gallery__actor_img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 20px;
}

.cast_gallery__actor .actor_name {
    font-size: 1.2rem;
    font-weight: 500;
    
}

.cast_gallery__actor .actor_character {
    font-size: 1.2rem;
    font-weight: 300;
    
}