.now-playing {
    margin-top: 30px;
}

.now-playing .headings{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 8px 0px;
}

.carousel-img,
#upNextMoviesCards {
    max-height: var(--carousel-card-max-height);
}

.main-container,
.headings {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
}


.main-container,
.headings {
    margin-left: var(--primary-mg-left);
    margin-right: var(--primary-mg-right);
}

.main-container {
    margin-bottom: var(--block-bottom-space);
}


#upNextMoviesCards {
    background-color: var(--primary-body-bg-color);
    /* background-color: rgb(81, 171, 33); */
}

.upNextMoviesCards__card {
    display: flex;
    background-color: var(--bg-color-dark-blue);
    /* border: 2px solid var(--primary-color); */
    max-height: 220px;
}

.upNextMoviesCards__card:not(:last-child) {
    margin-bottom: 35px;
}

#upNextMoviesCards__card__img {
    width: 100%;
    height: 220px;
}

.card-body {
    padding-top: 7px;
    padding-right: 12px;
}

#now_playing_up_next__movie_btn{
    margin-top: 8px;
    background-color: var(--primary-color-dark);
    color: var(--primary-text-color);
    /* border: none; */
    padding: 10px 18px;
    border-radius: 5px;
    /* font-size: 1.2rem; */
    cursor: pointer;
}

#now_playing_up_next__movie_btn:hover{
    /* background-color: var(--primary-color); */
    color: var(--primary-text-color);
    outline: 2px solid var(--primary-glow-outline-color);
}


